<%- include("partials/header") -%>

<section id="title" class="colored-section">
  <div class="container-fluid">
    <h1>Hey there!</h1>
    <p style="text-align: justify">
      I am a pretty weird guy that went to university to study Electrical and Electronics Engineering
      and got bored with it along the way (spoiler: I graduated with a 4.72) so I picked up
      <a href="https://www.thedumebi.tumblr.com">graphics design</a> along the way.
      You can check out my designs <a href="https://www.thedumebi.tumblr.com">here</a> (icymi) and also
      <a href="#footer">contact me</a> for design
      purposes. Anyways, I started writing code (python) because I needed it for my final year project
      and then after I dropped it. I was that guy that always said writing code wasn't for me but in retrospect,
      I think I just didn't learn it the right way (is there really a right way to learn how to code? 🤔) or at
      least, I didn't know the basics. Anyways, i've been writing code for a while now so this is kinda an attempt
      to document my process and put myself out there. Cheers to the journey ahead.
    </p>
  </div>
</section>


<%- include("partials/footer") -%>
