<%- include("partials/header") -%>

<section id="title" class="colored-section">
  <div class="container-fluid">
    <h1 class="big-heading">Hey there!</h1>
  </div>
</section>

<div class="container-fluid">
  <p style="text-align: justify">
    I went to university to study Electrical and Electronics Engineering but along the way I decided that I do not want to carry on along that path not because I was bad at it (I got a full scholarship and graduated with a 4.72) but I realized that
    it is not a path I want to do for the rest of my life. Anyways, in my final year of university, I was assigned to a Computer Engineering doctor as my project supervisor so I was introduced to python for machine learning.
    A year after, I decided to become a full stack developer (front end (client-side -> html, css, JavaScript, react js) and back end (server-side -> node js, express js and Django)) and I took courses and all. Anyways, this 100 days of code
    challenge is a way of documenting all that I have learned so far so it is kind of backtracked from the basics to more advanced concepts.
    I picked up <a href="https://www.thedumebi.tumblr.com">graphics design</a> along the way during my university days and I create wonderful Ads and branding for businesses. You can check out my designs <a
      href="https://www.thedumebi.tumblr.com">here</a> (icymi) and also <a href="#footer">contact me</a> for design purposes. I started writing code (python) because I needed it for my final year project and then after I dropped it. I was that guy
    that always said writing code wasn't for me but in retrospect, I think I just didn't learn it the right way (is there really a right way to learn how to code? 🤔) or at least, I didn't know the basics. Anyways, I’ve been writing code for a
    while now so this is kind of an attempt to document my process and put myself out there. Cheers to the journey ahead.
  </p>
</div>


<%- include("partials/footer") -%>
