<%- include("partials/header") -%>

<section>
  <div class="container-fluid contact">
    <h1>Get in touch with me!</h1>
    <a href="https://twitter.com/DanielChiwuzoh">
      <i class="social-icon fab fa-twitter fa-10x"></i>
    </a>
    <a href="https://instagram.com/the.dumebi">
      <i class="social-icon fab fa-instagram fa-10x"></i>
    </a>
    <a href="https://thedumebi.tumblr.com">
      <i class="social-icon fa fa-tumblr fa-10x"></i>
    </a>
    <a href="https://github.com/thedumebi">
      <i class="social-icon fa fa-github fa-10x"></i>
    </a>
    <a href="mailto:chiwuzohdaniel@gmail.com">
      <i class="social-icon fas fa-envelope fa-10x"></i>
    </a>
    <a href="tel:+2348028611554">
      <i class="social-icon fas fa-phone fa-10x"></i>
    </a>
  </div>
</section>
