<%- include ("partials/header") -%>

<section id="title" class="colored-section">
  <div class="container-fluid">
    <h1 class="big-heading">Other projects</h1>
  </div>
</section>

<div class="container-fluid projects">
  <ul>
    <li><a href="https://thedumebi.herokuapp.com/bank">A bank inventory application (Django)</a></li>
    <li><a href="https://dmb-todolist.herokuapp.com">A to-do list application (node)</a></li>
    <li><a href="https://github.com/thedumebi">other projects on github</a></li>
  </ul>
</div>

<%- include ("partials/footer") -%>
